<h1>Comments#new</h1>
<p>Find me in app/views/comments/_form.html.erb</p>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for comments</p>
    <ul>
      <li>Make sure it rhymes.</li>
      <li>Don't use the letter "A".</li>
      <li>The incessant use of hashtags will get you banned.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [topic, post, post.comments.new] do |f| %>
      <% if post.comments.new.errors.any? %>
        <div class="alert alert-danger">
          <h4>There are <%= pluralize(post.comments.new.errors.count, "error") %>.</h4>
          <ul>
            <% post.comments.new.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class=<%= form_group_tag(post.comments.new.errors) %>>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter comment body" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>