<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= render partial: 'posts/post', locals: { post: @post } %>
<%= @post.markdown_body %><br />
<%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' if policy(@post).edit? %>
<%= link_to "Delete post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if policy(@post).destroy? %>
<div>
  <h3><%= pluralize(@post.points, 'point') %></h3>
  <small>
    <%= pluralize(@post.up_votes, 'up vote') %>,
    <%= pluralize(@post.down_votes, 'down vote') %>
  </small>
</div>
<%= render partial: 'favorites/favorite', locals: { post: @post } %>
<div class='js-comments'><%= render partial: 'comments/comment', collection: @comments %></div>
<%= will_paginate @comments %>
<div class='new-comment'><%= render partial: 'comments/form', locals: { post: @post } if current_user %></div>
