<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="row">
  <div class="col-md-8">
    <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h1><%= @post.markdown_title %></h1>
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
  </div>
</div>

<p><%= @post.markdown_body %></p><br />
<%= link_to "Edit", edit_topic_post_comment_path(@topic, @post), class: 'btn btn-success' if policy(@post).edit? %>
<%= link_to "Delete post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } if policy(@post).destroy? %>
<div>
  <h3><%= pluralize(@post.points, 'point') %></h3>
  <small>
    <%= pluralize(@post.up_votes, 'up vote') %>,
    <%= pluralize(@post.down_votes, 'down vote') %>
  </small>
</div>
<% @comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <p>
        <%= comment.markdown_body %>
        <small>submitted <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %></small>
        <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      </p>
    </div>
  </div>
<% end %>
<%= will_paginate @comments %>

<div class="col-md-4">
  <%= link_to "New Comment", new_topic_post_comment_path(@topic, @post), class: 'btn btn-success' if policy(Comment.new).create? %>
</div>
